<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.papermanage.common.system.dao.SysLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.henu.papermanage.common.system.model.SysLog">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="username" property="username" />
		<result column="operation" property="operation" />
		<result column="time" property="time" />
		<result column="method" property="method" />
		<result column="params" property="params" />
		<result column="ip" property="ip" />
		<result column="gmt_create" property="gmtCreate" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, username, operation, time, method, params, ip, gmt_create AS gmtCreate
    </sql>

</mapper>
