<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.henu.paperadmin.dao.ArticleDao">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        article_id AS articleId, title, content, tag, create_time AS createTime, modify_time AS modifyTime, click, is_secret AS isSecret, create_user AS createUser
    </sql>

    <select id="list" resultType="com.henu.paperadmin.domain.ArticleDO">
        select
        <include refid="Base_Column_List"></include>
        from pap_article
        <where>
            <if test="article.articleId != null and article.articleId != ''"> and article_id = #{article.articleId} </if>
            <if test="article.title != null and article.title != ''"> and title = #{article.title} </if>
            <if test="article.createUser != null and article.createUser != ''"> and create_user = #{article.createUser} </if>
            <if test="article.isSecret != null and article.isSecret != ''"> and is_secret = #{article.isSecret} </if>
            <if test="query.name != null and query.name != ''"> and concat(title,tag,create_time,create_user) like '%${query.name}%' </if>
        </where>
        <choose>
            <when test="query.sort != null and query.sort.trim() != ''">
                order by ${query.sort} ${query.order}
            </when>
            <otherwise>
                order by click desc
            </otherwise>
        </choose>
        <if test="query.offset != null and query.limit != null">
            limit #{query.offset}, #{query.limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from pap_article
        <where>
            <if test="articleId != null and articleId != ''"> and article_id = #{articleId} </if>
            <if test="title != null and title != ''"> and title = #{title} </if>
            <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
            <if test="isSecret != null and isSecret != ''"> and is_secret = #{isSecret} </if>
            <if test="name != null and name != ''"> and concat(title,tag,create_time,create_user) like '%${name}%' </if>
        </where>
    </select>

    <insert id="save" parameterType="com.henu.paperadmin.domain.ArticleDO"
            useGeneratedKeys="true" keyProperty="articleId">
		insert into pap_article
		(
		`title`,
		`content`,
		`tag`,
		`create_time`,
		`modify_time`,
		`click`,
		`is_secret`,
		`create_user`
		)
		values
		(
		#{title},
		#{content},
		#{tag},
		#{createTime},
		#{modifyTime},
		#{click},
		#{isSecret},
		#{createUser}
		)
	</insert>

    <update id="updateById" parameterType="com.henu.paperadmin.domain.ArticleDO">
        update pap_article
        <set>
            <if test="title != null and title != ''">`title` = #{title},</if>
            <if test="content != null and content != ''">`content` = #{content}, </if>
            <if test="tag != null and tag != ''">`tag` = #{tag}, </if>
            <if test="modifyTime != null">`modify_time` = #{modifyTime}, </if>
            <if test="createUser != null and createUser != ''">`create_user` = #{createUser}, </if>
            <if test="isSecret != null and isSecret != ''">`is_secret` = #{isSecret}, </if>
        </set>
        where article_id = #{articleId}
    </update>

    <delete id="remove">
		delete from pap_article
		where article_id = #{articleId}
	</delete>

    <select id="getContentById">
        select content from pap_article
        where article_id=#{articleId}
    </select>

    <update id="updateClickPlus">
        update pap_article set click=click+1
        where article_id=#{articleId}
    </update>
</mapper>