<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.henu.paperadmin.dao.ArticleRoleDao">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id AS roleId, article_id AS articleId
    </sql>

    <insert id="batchSave">
        INSERT INTO pap_article_role(article_id, role_id) values
        <foreach item="item" index="index" collection="list"
                 separator=",">
            (#{item.articleId},#{item.roleId})
        </foreach>
    </insert>

    <select id="getRoleIdsByArticleId" resultType="Long">
		select role_id from pap_article_role where article_id=#{articleId}
	</select>

    <delete id="remove">
		delete from pap_article_role
		where article_id=#{articleId}
	</delete>
</mapper>