<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.henu.paperadmin.dao.PlanDao">
	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        id, description, file_name AS fileName, file_path AS filePath, create_time AS createTime, modify_time AS modifyTime, create_user AS createUser
    </sql>

	<select id="list" resultType="com.henu.paperadmin.domain.PlanDO">
		select
		<include refid="Base_Column_List"></include>
		from pap_plan
		<where>
			<if test="plan.id != null and plan.id != ''"> and id = #{plan.id} </if>
			<if test="plan.description != null and plan.description != ''"> and description = #{plan.description} </if>
			<if test="plan.createUser != null and plan.createUser != ''"> and create_user = #{plan.createUser} </if>
			<if test="query.name != null and query.name != ''"> and concat(description,file_name,create_time,create_user) like '%${query.name}%' </if>
		</where>
		<choose>
			<when test="query.sort != null and query.sort.trim() != ''">
				order by ${query.sort} ${query.order}
			</when>
			<otherwise>
				order by id asc
			</otherwise>
		</choose>
		<if test="query.offset != null and query.limit != null">
			limit #{query.offset}, #{query.limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from pap_plan
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
			<if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.henu.paperadmin.domain.PlanDO"
			useGeneratedKeys="true" keyProperty="id">
		insert into pap_plan
		(
		`description`,
		`file_name`,
		`file_path`,
		`create_time`,
		`modify_time`,
		`create_user`
		)
		values
		(
		#{description},
		#{fileName},
		#{filePath},
		#{createTime},
		#{modifyTime},
		#{createUser}
		)
	</insert>

	<delete id="remove">
		delete from pap_plan where id = #{planId}
	</delete>

</mapper>