<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.henu.paperadmin.dao.UserDao">
	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
        id, username, name, password, email, phone, major_id AS majorId, status, create_time AS createTime, modify_time AS modifyTime, sex
    </sql>
	<select id="getCurrentUser" resultType="com.henu.papercommon.dto.LoginUserDTO">
		select
		<include refid="Base_Column_List"></include>
		from pap_user where id=#{userId}
	</select>
	<select id="get" resultType="com.henu.paperadmin.domain.UserDO">
		select `user_id`,`username`,`name`,`password`,`dept_id`,`email`,`mobile`,`status`,`user_id_create`,`gmt_create`,`gmt_modified`,`sex`,`birth`,`pic_id`,`live_address`,`hobby`,`province`,`city`,`district` from pap_user where user_id = #{value}
	</select>

	<select id="getUserList" resultType="com.henu.paperadmin.domain.UserMO">
		select
		u.id, u.username,u.name,u.email,u.phone,u.sex
		from pap_user u left join pap_user_role ur on ur.user_id=u.id
		where ur.role_id=#{roleId} and concat(u.username,u.name) like '%${query.name}%'
	</select>

	<select id="getUser" resultType="com.henu.paperadmin.domain.UserMO">
		select
		<include refid="Base_Column_List"></include>
		from pap_user
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="username != null and username != ''"> and username = #{username} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
			<if test="sex != null and sex != ''"> and sex = #{sex} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="list" resultType="com.henu.paperadmin.domain.UserDO">
		select
		<include refid="Base_Column_List"></include>
		from pap_user
        <where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="username != null and username != ''"> and username = #{username} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="email != null and email != ''"> and email = #{email} </if>
			<if test="phone != null and phone != ''"> and phone = #{phone} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
			<if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by user_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="countByRoleId" resultType="int">
		select count(*)
		from pap_user u left join pap_user_role ur on ur.user_id=u.id
		where ur.role_id=#{roleId}
	</select>

	<select id="getUserIdByUserName" resultType="long">
		select
		id
		from pap_user
		where username=#{userName}
	</select>

 	<select id="count" resultType="int">
		select count(*) from pap_user
		 <where>
			 <if test="id != null and id != ''"> and id = #{id} </if>
			 <if test="username != null and username != ''"> and username = #{username} </if>
			 <if test="name != null and name != ''"> and name = #{name} </if>
			 <if test="password != null and password != ''"> and password = #{password} </if>
			 <if test="email != null and email != ''"> and email = #{email} </if>
			 <if test="phone != null and phone != ''"> and phone = #{phone} </if>
			 <if test="status != null and status != ''"> and status = #{status} </if>
			 <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			 <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
			 <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		 </where>
	</select>
	 
	<insert id="save" parameterType="com.henu.paperadmin.domain.UserDO">
		insert into pap_user
		(
			`username`, 
			`name`, 
			`password`,
			`email`, 
			`phone`,
			`major_id`,
			`status`,
			`create_time`,
			`modify_time`,
			`sex`
		)
		values
		(
			#{username}, 
			#{name}, 
			#{password},
			#{email}, 
			#{phone},
			#{majorId},
			#{status},
			#{createTime},
			#{modifyTime},
			#{sex}
		)
	</insert>
	 
	<update id="update" parameterType="com.henu.paperadmin.domain.UserDO">
		update pap_user
		<set>
			<if test="username != null">`username` = #{username}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="majorId != null">`major_id` = #{majorId}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="modifyTime != null">`modify_time` = #{modifyTime}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from pap_user where id = #{userId}
	</delete>
	
	<delete id="batchRemove">
		delete from pap_user where user_id in
		<foreach item="userId" collection="array" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>
	
</mapper>