<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henu.paperadmin.dao.UserCommentDao">
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, comment_id AS commentId
    </sql>

	<select id="isLikeComment" resultType="int">
		select count(*) from pap_user_comment_isLike where
		user_id = #{userId} and
		comment_id=#{commentId} limit 1
	</select>
</mapper>
